{% extends "base.html" %}

{% block title %}Lista de Juegos{% endblock %}

{% block content %}
<div class="container">
    <h1>Juegos</h1>
    <a href="{{ url_for('games.new_game') }}">nuevo</a>
    <div class="games-grid">
    {% for game in games_collection %}
        <div class="game-card">
            <h3>{{ game.game }}</h3>
            <p>{{ game.descripcion }}</p>
            
        </div>
    {% else %}
        <p>No hay juegos disponibles.</p>
    {% endfor %}
</div>
    <a href="{{ url_for('games.categories') }}" class="button">Ver categorías</a>
</div>
{% endblock %} 